header{
    background-color: lightskyblue;
    width: 25.2%;
    height: 100px;
}

footer{
    background-color: navy;
    width: 25.2%;
    height: 100px;
}

#cel1{
    background-color: #ff6;
}

#cel2{
    background-color: coral;

}
#cel3{
    background-color: darkviolet;
}

#cel4{
    background-color: darkgreen;
}

#cel5{
    background-color: darkslateblue;
}

#cel6{
    background-color: hotpink;
}

#cel7{
    background-color: darkslategrey;
}

#cel8{
    background-color: darkcyan;
}

#cel9{
    background-color: lightcoral;
}

#cel10{
    background-color: darkred;
}

#cel11{
    background-color: aquamarine;
}

#cel12{
    background-color:olivedrab
}

#cel13{
    background-color: darkkhaki;
}

#cel14{
    background-color: indigo;
}

#cel15{
    background-color: dodgerblue;
}

#cel16{
    background-color: aqua;
}